/* write your styles here */
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0%;
}

marquee{
    background-color: #ed484c;
    color: white;
    height: 20px;
    padding: 5px;
    font-weight: bold;
}
header{
    background-color: #4c4c4c;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
header img{
    width: 65px;
    height: 40px;
}
nav ul{
      display: flex; 
      flex-direction: row;
}
li{
    list-style: none;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: white;
}
#about{
    background-image: url(images/floral.png);
    background-color:rgba(245, 94, 110, 0.5);
    padding: 30px;
    text-align: center;
}
#about h1{
    font-size: 4em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
}
.paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    margin-left: 13em;
    margin-right: 13em;
}
.join{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: black;
    width: 15em;
    height: 4em;
    border: none;
    color: pink;
    /* margin-left: 23em;
    margin-right: 18em; */
}
.join:hover {
    font-weight: bold;
}
#services{
    background-image: url(images/floral.png);
    background-color: rgba(221, 212, 197, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
}
.service-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: row;
}
#services img{
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}
h2{
    font-family: 'Cookie', cursive;
    font-weight: bold;
}


/* service image-hover */

i.fab.fa-html5 , i.fab.fa-css3-alt , i.fab.fa-js{
    font-size: 150px;
}
i.fab.fa-html5:hover , i.fab.fa-css3-alt:hover , i.fab.fa-js:hover{
    color: #ed484c;
}

#portfolio{
    background-image: url(images/floral.png);
    background-color: rgba(179, 156, 114, 0.4);
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.portfolio-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#portfolio div img{
    width: 250px;
    height: 180px; 
}
#contact{
    background-image: url(images/floral.png);
    background-color: rgba(89, 146, 145, 0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2em;
}
#contact .contact-button button{
    border-radius: 80%;
    padding: 1em 24px;
    font-size: 25px;
    background: none;
    border-color: #575656b6; 
}
.contact-button button:hover{
    background-color: black;
    color: #fcdea6;
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(images/floral.png);
    background-color: black;
    color: white;
}
footer:hover i{
    color: red;
}
